@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Space Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


// RESETS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    overflow-x: hidden;
}


footer{
    background-color: $clr-light;
    
    *{
        color: $clr-accent2;
        font-weight: 100;
    }
}

.invisible{
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .axis-label{
        transform: translate(width+30)
    }
}