@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Space Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

// RESETS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    overflow-x: scroll;
}
body{
    height: auto;
}

/* LANDING */
header{
    // background: $clr-accent2;
    background: linear-gradient(190deg, $clr-accent2 -0%, $clr-accent1 100%);
}


.landing{
    .container{
        display: flex;
        align-items: center;
        height: 75vh;
    }

}
.landing-text{
    max-width: 500px;
}


footer{
    background-color: $clr-light;
    
    *{
        color: $clr-accent2;
        font-weight: 100;
    }
}

@media screen and (min-width: 768px) {
    .axis-label{
        transform: translate(width+30)
    }
}