@import 'variables';

table{
    width: 100%;
    border: 1px solid $clr-light;
    overflow-x: scroll;

    *{
        font-family: $ff-body;
    }

    tr:nth-child(odd){
        background-color: $clr-light;
    }

    th{
        text-align: left;
    }

    th,
    td{
        padding: .25em .5em;
        min-width: 50px;
    }
}

svg{
    .tick{
        stroke: transparent;
        -webkit-text-stroke: 1px  $clr-light;
    }
    g{
        fill: 1px $clr-light;
    }

    
}

.fix-1{
    background-color: rgb(55 85 35);
}
.fix-2{
    background-color: rgb(1 252 122);
}
.fix-3{
background-color: $clr-light;
}
.fix-4{
    background-color: rgb(255 23 81);
}
.fix-5{
    background-color: rgb(128 7 45);
}