@import 'variables';

table{
    width: 100%;
    border: 1px solid $clr-light;
    overflow-x: scroll;

    *{
        font-family: $ff-body;
    }

    tr:nth-child(odd){
        background-color: $clr-light;
    }

    th{
        text-align: left;
        // background-color: $clr-accent2;
        // color: $clr-light;
        // font-weight: 100;
    }

    th,
    td{
        padding: .25em .5em;
        max-width: 100px;
    }
}

svg{
    .tick{
        stroke: transparent;
        -webkit-text-stroke: 1px  $clr-light;
    }
    g{
        fill: 1px $clr-light;
    }

    
}

.fix-1{
    background-color: rgba(55 ,85 ,35 ,0.8);
}
.fix-2{
    background-color: rgba(1 ,252 ,122 ,0.8);
}
.fix-3{
    background-color: $clr-light;
}
.fix-4{
    background-color: rgba(255, 23, 81, 0.8);
}
.fix-5{
    background-color: rgba(128 ,7 ,45 ,0.8);
}

@media screen and (max-width: 768px){
    table{
        width: 100%;
        border: 1px solid $clr-light;
        overflow-x: scroll;
    
        *{
            font-family: $ff-body;
        }
    
        tr{
            th:nth-child(6),
            td:nth-child(6),
            th:nth-child(7),
            td:nth-child(7),
            td:nth-child(8),
            th:nth-child(8){
                display: none;
            }
        }
    
        th,
        td{
            padding: .25em .5em;
            max-width: 100px;
        }
    }
}