@import 'variables';

table{
    border: 1px solid $clr-light;
    overflow-x: scroll;

    *{
        font-family: $ff-body;
    }

    tr:nth-child(odd){
        background-color: $clr-light;
    }

    th{
        text-align: left;
    }

    th,
    td{
        padding: .25em .5em;
        min-width: 100px;
    }
}