@import 'variables';

body{
    width: 100vw;
    overflow-x: hidden;
}

/* LAYOUTS */
.grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(0, 30em)) 1fr;

    .container{
        grid-column: 2/4;
    }
}

.captaincy-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;

    .captain-stats,
    .captain-stats-labels,
    .vcaptain-stats{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;
        max-width: 33.33%;

        .column-heading{
            height: -webkit-fill-available;
        }
    }
    p{
        margin: 0;
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    .card{
        position: relative;
        padding: 2.5em;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        border: 1px solid $clr-light;
        z-index: 1;

        &::after{
            position: absolute;
            content: '';
            width: 1%;  
            height: 100%;
            left: 0;
            bottom: 0;
            background-color: $clr-accent1;
            opacity: 0;
        }

        // .card-heading{ position: relative; }
        // .card-heading::after{ 
        //     position: absolute;
        //     content: attr(data-pos);
        //     left: -20%;
        //     top: -75%;
        //     font-size: $fs-heading;
        //     color: $clr-light;
        //     font-family: $ff-heading;
        //     // -webkit-text-stroke: 1px $clr-light;
        //     z-index: 0;
        // }

        .card-body{
            display: flex;
            flex-direction: column;
            gap: 1em;

            .card-body-top,
            .card-body-bottom{
                z-index: 2;
            }

            .card-body-top{
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .card-stat2{
                    display: flex;
                    gap: .15em;
                    align-items: center;

                    .price-indicator{
                        width: 0; 
                        height: 0; 
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;

                        &.rise{
                            border-bottom: 5px solid #0f0;
                        }
                        &.equal{
                            display: none;
                        }
                        &.fall{
                            border-top: 5px solid #f00;
                        }
                    }
                }
            }
            .card-body-bottom{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: .5em;

                & *{
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    gap: .15em;
                }
            }
        }
    }
}

.table{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid $clr-light;
    overflow-x: scroll;
    
    .table-row{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        border-top: 1px solid $clr-light;
        
        &.label{
            background-color: $clr-light;
        }
        &>.right{
            text-align: right;
        }
        & p{
            padding: .25em;
            border-left: 1px solid $clr-light;
        }
    }
}

section{
    position: relative;
    padding: 8em 0 5em;

    .container{
        .section-body{
            display: flex;
            flex-direction: column;
            gap: 3em;

            &.row{
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }

            .section-block{
                width: 100%;
            }
        }
    }
}
footer{
    padding: 3em 0 2em;

    .footer-body{
        margin-bottom: .5em;

        .footer-links{
            display: flex;
            gap: .5em;
        }
    }
}


@media screen and (max-width: 768px){

    .cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

        .card{
            padding: 1.5em 1em;

            .card-body{
                gap: 1em;

                .card-body-bottom{
                    gap: .25em;
    
                    .card-stat{
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        gap: .25em;
                    }
                }
            }
        }
    }
    
    header,
    section,
    footer{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    section{
        padding-top: 3em;
        padding-bottom: 3em;

        .container{
            .section-body{
                flex-direction: column;
                gap: 3em;
    
                &.row{
                    width: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                }
    
                .section-block{
                    width: 100%;
                }
            }
        }
    }

    footer{
        .container{
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }

        .footer-body{
            margin-bottom: .5em;
    
            .footer-links{
                display: flex;
                flex-direction: column;
                gap: .5em;
            }
        }
    }
}