<footer class="grid">
    <div class="container">
        <div class="footer-body">
            <div class="footer-prologue">

            </div>
    
            <div class="footer-links">
                <a href="" class="footer-link">Home</a>
                <a href="" class="footer-link">Fixtures</a>
                <a href="" class="footer-link">Help</a>
                <a href="" class="footer-link">Contact</a>
            </div>
        </div>

        <div class="footer-footer">
            <div class="copyright">
                <p>&copy; fplFriend 2021</p>
            </div>
        </div>
    </div>
</footer>