<footer class="grid">
    <div class="container">
        
        <div class="footer-body">
            <div class="footer-prologue">

            </div>
    
            <div class="footer-links">
                <a href="/" class="footer-link">Home</a>
                <a href="/fixtures" class="footer-link">Fixtures</a>
                <a href="/transfers" class="footer-link">Transfers</a>
                <a href="https://github.com/MusikuAustin/fplFriend" class="footer-link" target="blank">Github</a>
            </div>
        </div>

        <div class="footer-footer">
            <div class="copyright">
                <p>&copy; fplFriend 2021</p>
            </div>
        </div>
    </div>
</footer>