<nav class="nav-bar grid">
    <div class="container">
        <div class="logo">
            <a href="/" class="nav-link"><h1 class="sub-heading">fF</h1></a>
        </div>
        <div class="nav-links">
            <a href="/transfers" class="nav-link">transfers</a>
            <a href="/captains" class="nav-link">captains</a>
            <a href="/differentials" class="nav-link">differentials</a>
            <a href="https://github.com/MusikuAustin/fplFriend" target="blank" class="nav-link">Github</a>
        </div>
        <div class="hamburger-menu">
            <span class="ham-layer long"></span>
            <span class="ham-layer mid"></span>
            <span class="ham-layer short"></span>
        </div>
    </div>
</nav>