<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>
    <header class="minor">
        <%- include('../partials/nav')%>

        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading dark-light-font">Uncover the hidden gems</h1>
                </div>
            </div>
        </div>
    </header>

    <section class="fourth grid diffs">
        <div class="container">
            <h1 class="section-heading" data-attribute="differentials">differentials</h1>
            <div class="section-body">
                <p class="para">Looking to climb up your mini-leagues? Invest in a good pair (or more, its completely upto you) of differentials. The scatter plot shows players with the most momentum heading into gameweek <span class="next-gameweek-container"></span>. The momentum factors in players form over the previous gameweeks</p>
                <!-- Create a div where the graph will take place -->
                <div id="differentials-graph"></div>
            </div>
        </div>
    </section>


    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="best value">best value</h1>

            <div class="section-body">
                <p class="">The table below is pretty straight forward in that it represents the rankings based on points per million</p>
                <div class="ppm-table">
                    <table>
                        <tr>
                            <th>Name (price)</th>
                            <th>Points</th>
                            <th>Ppm</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<script src="https://d3js.org/d3.v4.js"></script>
<%- include('../partials/commonScripts')%>
<script src="../../public/js/differentials.js"></script>
</html>