<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>
    <header class="">

        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading">Get ahead of the curve with carefully curated statistics</h1>
                </div>
            </div>
        </div>
    </header>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="sensible transfers">sensible transfers</h1>

            <div class="section-body">
                <h2 class="mini-heading">premium assets</h2>
                <table class="premium-table">
                    <tr>
                        <th>Name</th>
                        <th>fix1</th>
                        <th>fix2</th>
                        <th>fix3</th>
                        <th>fix4</th>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<%- include('../partials/scripts')%>
<script src="../../public/js/fixtures.js"></script>
</html>