<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>
    <header class="">

        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading">Get ahead of the curve with carefully curated statistics</h1>
                </div>
            </div>
        </div>
    </header>

    

    <%- include('../partials/footer')%>
</body>
<%- include('../partials/scripts')%>
<script src="../../public/js/fixtures.js"></script>
</html>