<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>
    <header class="homepage">

        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading">Get ahead of the curve thanks to visual data</h1>
                </div>
            </div>
        </div>
    </header>


    <section class="First light-section grid">
        
        <div class="container">
            <h1 class="section-heading" data-attribute="on fire">on fire</h1>

            <div class="section-body">
                <div class="cards">
                </div>
            </div>
            
        </div>
    </section>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="captains">captains</h1>

            <div class="section-body">
                <p class="para">The table below is arranged in from highest to lowest with the most favourable option at the top. The tabulated data takes into consideration player current form, player influence, player threat, player creativity, player's upcoming fixture difficulty rating, and points per game. The afore-mentioned fields then help us come up with an index(<strong>Captaincy</strong>) to predict the players performace in the upcoming gameweek</p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>fix</th>
                        <th>Captaincy</th>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="grid diffs">
        <div class="container">
            <h1 class="section-heading" data-attribute="differentials">differentials</h1>
            <div class="section-body">
                <p class="para">Looking to climb up your mini-leagues? Invest in a good pair (or more, its completely upto you) of differentials. The scatter plot indicates the distribution of assets with varying levels of ownership and expected performance metrics. Player potential Increases along the X-axis and similarly ownership (selected_by_percentage) increases along the Y-axis. Assets on the upper right quadrant of the distribution are the popular options among the more potent players. Note that the scatter plot only shows assets between 6m and 11m and below 20% ownership</p>
                <!-- Create a div where the graph will take place -->
                <div id="differentials-graph"></div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<%- include('../partials/scripts')%>
<script src="../../public/js/home.js"></script>
<script>
    
    </script>
</html>