<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>
    <header class="homepage">

        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading dark-light-font">For the super managers</h1>
                    <a href="/captains" class="btn">Captain picks</a>
                </div>
            </div>
        </div>
    </header>


    <section class="First light-section grid">
        
        <div class="container">
            <h1 class="section-heading" data-attribute="on fire">on fire</h1>

            <div class="section-body">
                <div class="cards">
                </div>
            </div>
            
        </div>
    </section>

    <section class="third grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="compare">compare</h1>
            <div class="section-body">
                <div class="showcase">
                    <div class="display">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<%- include('../partials/scripts')%>
<script src="../../public/js/home.js"></script>
<script>
    
    </script>
</html>