<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
    <title>home | fplFriend</title>
    <meta name="description" content="Fpl friend - A handy guide to fpl team management">
    <meta name="keywords" content="fpl bar-chart ronaldo github sensible transfers premium assets budget mid-range">
</head>
<body>
    <header class="homepage">
        <%- include('../partials/nav')%>
        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading dark-font">For the super managers</h1>
                    <a href="/captains" class="btn dark">Captain picks</a>
                </div>
            </div>
        </div>
        <div class="landing-deadline grid">
            <div class="container">
                <p class="mini-heading">Gameweek <span class="next-gameweek-number"></span> deadline</p>
                <p class="sub-heading deadline"></p>
            </div>
        </div>
    </header>

    <section class="First light-section grid">
        
        <div class="container">
            <h1 class="section-heading" data-attribute="top players">top players</h1>

            <div class="section-body">
                <div class="cards">
                </div>
            </div>
            
        </div>
    </section>

    <section class="third grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="review">review</h1>
            <div class="section-body">
                <h1 class="section-block-heading">chips</h1>
                <p>See which chips have had the most plays by managers in gameweek <span class="past-gameweek-number"></span></p>
                <div class="chips-bar"></div> 
            </div>

            <div class="section-body">
                <p class="section-block-heading">highest and average points</p>
                <p>Track the progress of both the highest and average gameweek points and plan your team accordingly</p>
                <div class="avg-points-chart">
                    <div class="line-chart-legend">
                        <div class="line-1">
                            <div class="line"></div>
                            <p class="mini-txt">average points</p>
                        </div>
                        <div class="line-2">
                            <div class="line"></div>
                            <p class="mini-txt">highest points</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    
    <section class="third grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="transfers">transfers</h1>
            <div class="section-body">
                    <p>Still don't know who to get and who to dump before the deadline? Don't worry, check out our transfer picks as you get to be in the know of who is causing the waves in the transfer market as it happens.</p>
                    <a href="/transfers">check out transfers</a>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.0.0/d3.min.js"></script>
<%- include('../partials/commonScripts')%>
<script src="../../dist/js/home.js"></script>
</html>