<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>
    <header class="">

        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading">Get ahead of the curve with carefully curated statistics</h1>
                </div>
            </div>
        </div>
    </header>


    <section class="First light-section grid">
        
        <div class="container">
            <h1 class="section-heading" data-attribute="on fire">on fire</h1>

            <div class="section-body">
                <div class="cards">

                    
                    

                </div>
            </div>
            
        </div>
    </section>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="captains">captains</h1>

            <div class="section-body">
                <p class="para">The table below is arranged in from highest to lowest with the most favourable option at the top. The aggregated data takes into consideration player current form, player influence, player threat, player creativity, player's upcoming fixture difficulty rating, and points per game. The afore-mentioned fields then help us come up with an index to predict the players likely performace</p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>threat</th>
                        <th>creativity</th>
                        <th>ppg</th>
                        <th>fdr</th>
                        <th>captaincy</th>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="differentials">differentials</h1>
            <div class="section-body">
                <p class="para">Looking to climb up your mini-leagues? Invest in a good pair (or more, its completely upto you) of differentials. The scatter plot indicates the distribution of assets with varying levels of ownership and expected performance metrics. The further towards the right the player is indicates the more potent the player and the further up shows the less the ownership so you basically want to keep an eye on the assets on the upper right quadrant of the distribution, that indicates the least owned of the more potent players</p>
                <!-- Create a div where the graph will take place -->
                <div id="differentials-graph"></div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="../../public/js/fetchMethods.js"></script>
<script src="../../public/js/evaluationMethods.js"></script>
<script>
    let cards = document.querySelector('.cards');
    let readyPlayers = [{
        "chance_of_playing_next_round": null,
        "chance_of_playing_this_round": null,
        "code": 215439,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": 0,
        "cost_change_start_fall": 0,
        "dreamteam_count": 0,
        "element_type": 3,
        "ep_next": "4.5",
        "ep_this": "4.5",
        "event_points": 2,
        "first_name": "Tomas",
        "form": "4.0",
        "id": 422,
        "in_dreamteam": false,
        "news": "",
        "news_added": null,
        "now_cost": 60,
        "photo": "215439.jpg",
        "points_per_game": "4.0",
        "second_name": "Soucek",
        "selected_by_percent": "9.1",
        "special": false,
        "squad_number": null,
        "status": "a",
        "team": 19,
        "team_code": 21,
        "total_points": 12,
        "transfers_in": 132047,
        "transfers_in_event": 18209,
        "transfers_out": 244406,
        "transfers_out_event": 82177,
        "value_form": "0.7",
        "value_season": "2.0",
        "web_name": "Soucek",
        "minutes": 270,
        "goals_scored": 1,
        "assists": 0,
        "clean_sheets": 0,
        "goals_conceded": 5,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 0,
        "red_cards": 0,
        "saves": 0,
        "bonus": 1,
        "bps": 56,
        "influence": "72.6",
        "creativity": "11.4",
        "threat": "151.0",
        "ict_index": "23.5",
        "influence_rank": 53,
        "influence_rank_type": 24,
        "creativity_rank": 205,
        "creativity_rank_type": 113,
        "threat_rank": 8,
        "threat_rank_type": 4,
        "ict_index_rank": 27,
        "ict_index_rank_type": 16,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": null,
        "direct_freekicks_text": "",
        "penalties_order": null,
        "penalties_text": ""
    },
    {
        "chance_of_playing_next_round": null,
        "chance_of_playing_this_round": null,
        "code": 217593,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": 0,
        "cost_change_start_fall": 0,
        "dreamteam_count": 0,
        "element_type": 3,
        "ep_next": "7.2",
        "ep_this": "7.2",
        "event_points": 7,
        "first_name": "Pablo",
        "form": "6.7",
        "id": 423,
        "in_dreamteam": false,
        "news": "",
        "news_added": null,
        "now_cost": 60,
        "photo": "217593.jpg",
        "points_per_game": "6.7",
        "second_name": "Fornals",
        "selected_by_percent": "2.2",
        "special": false,
        "squad_number": null,
        "status": "a",
        "team": 19,
        "team_code": 21,
        "total_points": 20,
        "transfers_in": 156762,
        "transfers_in_event": 114977,
        "transfers_out": 43061,
        "transfers_out_event": 30982,
        "value_form": "1.1",
        "value_season": "3.3",
        "web_name": "Fornals",
        "minutes": 266,
        "goals_scored": 2,
        "assists": 1,
        "clean_sheets": 0,
        "goals_conceded": 5,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 0,
        "red_cards": 0,
        "saves": 0,
        "bonus": 1,
        "bps": 83,
        "influence": "120.8",
        "creativity": "110.0",
        "threat": "84.0",
        "ict_index": "31.5",
        "influence_rank": 5,
        "influence_rank_type": 4,
        "creativity_rank": 10,
        "creativity_rank_type": 6,
        "threat_rank": 37,
        "threat_rank_type": 21,
        "ict_index_rank": 9,
        "ict_index_rank_type": 6,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": null,
        "direct_freekicks_text": "",
        "penalties_order": null,
        "penalties_text": ""
    },{
        "chance_of_playing_next_round": null,
        "chance_of_playing_this_round": null,
        "code": 80201,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": -1,
        "cost_change_start_fall": 1,
        "dreamteam_count": 0,
        "element_type": 1,
        "ep_next": "2.3",
        "ep_this": "0.8",
        "event_points": 1,
        "first_name": "Bernd",
        "form": "1.3",
        "id": 1,
        "in_dreamteam": false,
        "news": "",
        "news_added": null,
        "now_cost": 49,
        "photo": "80201.jpg",
        "points_per_game": "1.3",
        "second_name": "Leno",
        "selected_by_percent": "1.8",
        "special": false,
        "squad_number": null,
        "status": "a",
        "team": 1,
        "team_code": 3,
        "total_points": 4,
        "transfers_in": 21406,
        "transfers_in_event": 13615,
        "transfers_out": 62468,
        "transfers_out_event": 14302,
        "value_form": "0.3",
        "value_season": "0.8",
        "web_name": "Leno",
        "minutes": 270,
        "goals_scored": 0,
        "assists": 0,
        "clean_sheets": 0,
        "goals_conceded": 9,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 0,
        "red_cards": 0,
        "saves": 9,
        "bonus": 0,
        "bps": 48,
        "influence": "79.0",
        "creativity": "0.0",
        "threat": "0.0",
        "ict_index": "7.9",
        "influence_rank": 41,
        "influence_rank_type": 6,
        "creativity_rank": 487,
        "creativity_rank_type": 50,
        "threat_rank": 459,
        "threat_rank_type": 48,
        "ict_index_rank": 161,
        "ict_index_rank_type": 7,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": null,
        "direct_freekicks_text": "",
        "penalties_order": null,
        "penalties_text": ""
    },
    {
        "chance_of_playing_next_round": 0,
        "chance_of_playing_this_round": 100,
        "code": 115918,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": 0,
        "cost_change_start_fall": 0,
        "dreamteam_count": 0,
        "element_type": 1,
        "ep_next": "0.0",
        "ep_this": "-0.5",
        "event_points": 0,
        "first_name": "Rúnar Alex",
        "form": "0.0",
        "id": 2,
        "in_dreamteam": false,
        "news": "Joined OH Leuven on a season-long loan - Expected back 01 Jul",
        "news_added": "2021-08-31T22:00:09.069158Z",
        "now_cost": 40,
        "photo": "115918.jpg",
        "points_per_game": "0.0",
        "second_name": "Rúnarsson",
        "selected_by_percent": "1.4",
        "special": false,
        "squad_number": null,
        "status": "u",
        "team": 1,
        "team_code": 3,
        "total_points": 0,
        "transfers_in": 19017,
        "transfers_in_event": 8732,
        "transfers_out": 22399,
        "transfers_out_event": 10225,
        "value_form": "0.0",
        "value_season": "0.0",
        "web_name": "Rúnarsson",
        "minutes": 0,
        "goals_scored": 0,
        "assists": 0,
        "clean_sheets": 0,
        "goals_conceded": 0,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 0,
        "red_cards": 0,
        "saves": 0,
        "bonus": 0,
        "bps": 0,
        "influence": "0.0",
        "creativity": "0.0",
        "threat": "0.0",
        "ict_index": "0.0",
        "influence_rank": 353,
        "influence_rank_type": 33,
        "creativity_rank": 342,
        "creativity_rank_type": 16,
        "threat_rank": 287,
        "threat_rank_type": 13,
        "ict_index_rank": 363,
        "ict_index_rank_type": 33,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": null,
        "direct_freekicks_text": "",
        "penalties_order": null,
        "penalties_text": ""
    },
    {
        "chance_of_playing_next_round": 0,
        "chance_of_playing_this_round": 50,
        "code": 47431,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": -2,
        "cost_change_start_fall": 2,
        "dreamteam_count": 0,
        "element_type": 3,
        "ep_next": "0.0",
        "ep_this": "-0.2",
        "event_points": 0,
        "first_name": "Willian",
        "form": "0.0",
        "id": 3,
        "in_dreamteam": false,
        "news": "Transferred to Corinthians",
        "news_added": "2021-08-20T09:30:14.065783Z",
        "now_cost": 63,
        "photo": "47431.jpg",
        "points_per_game": "0.0",
        "second_name": "Borges Da Silva",
        "selected_by_percent": "0.1",
        "special": false,
        "squad_number": null,
        "status": "u",
        "team": 1,
        "team_code": 3,
        "total_points": 0,
        "transfers_in": 914,
        "transfers_in_event": 50,
        "transfers_out": 16351,
        "transfers_out_event": 2401,
        "value_form": "0.0",
        "value_season": "0.0",
        "web_name": "Willian",
        "minutes": 0,
        "goals_scored": 0,
        "assists": 0,
        "clean_sheets": 0,
        "goals_conceded": 0,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 0,
        "red_cards": 0,
        "saves": 0,
        "bonus": 0,
        "bps": 0,
        "influence": "0.0",
        "creativity": "0.0",
        "threat": "0.0",
        "ict_index": "0.0",
        "influence_rank": 582,
        "influence_rank_type": 238,
        "creativity_rank": 582,
        "creativity_rank_type": 239,
        "threat_rank": 579,
        "threat_rank_type": 238,
        "ict_index_rank": 583,
        "ict_index_rank_type": 239,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": null,
        "direct_freekicks_text": "",
        "penalties_order": null,
        "penalties_text": ""
    },
    {
        "chance_of_playing_next_round": 100,
        "chance_of_playing_this_round": 100,
        "code": 54694,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": -1,
        "cost_change_start_fall": 1,
        "dreamteam_count": 0,
        "element_type": 4,
        "ep_next": "1.7",
        "ep_this": "0.2",
        "event_points": 1,
        "first_name": "Pierre-Emerick",
        "form": "0.7",
        "id": 4,
        "in_dreamteam": false,
        "news": "",
        "news_added": "2021-08-13T14:30:14.477664Z",
        "now_cost": 99,
        "photo": "54694.jpg",
        "points_per_game": "1.0",
        "second_name": "Aubameyang",
        "selected_by_percent": "1.4",
        "special": false,
        "squad_number": null,
        "status": "a",
        "team": 1,
        "team_code": 3,
        "total_points": 2,
        "transfers_in": 34997,
        "transfers_in_event": 22174,
        "transfers_out": 146093,
        "transfers_out_event": 16158,
        "value_form": "0.1",
        "value_season": "0.2",
        "web_name": "Aubameyang",
        "minutes": 87,
        "goals_scored": 0,
        "assists": 0,
        "clean_sheets": 0,
        "goals_conceded": 4,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 0,
        "red_cards": 0,
        "saves": 0,
        "bonus": 0,
        "bps": 5,
        "influence": "5.0",
        "creativity": "2.7",
        "threat": "19.0",
        "ict_index": "2.6",
        "influence_rank": 286,
        "influence_rank_type": 31,
        "creativity_rank": 253,
        "creativity_rank_type": 35,
        "threat_rank": 144,
        "threat_rank_type": 31,
        "ict_index_rank": 271,
        "ict_index_rank_type": 34,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": null,
        "direct_freekicks_text": "",
        "penalties_order": 1,
        "penalties_text": ""
    },
    {
        "chance_of_playing_next_round": null,
        "chance_of_playing_this_round": null,
        "code": 58822,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": -1,
        "cost_change_start_fall": 1,
        "dreamteam_count": 0,
        "element_type": 2,
        "ep_next": "1.0",
        "ep_this": "-0.5",
        "event_points": -1,
        "first_name": "Cédric",
        "form": "0.0",
        "id": 5,
        "in_dreamteam": false,
        "news": "",
        "news_added": null,
        "now_cost": 44,
        "photo": "58822.jpg",
        "points_per_game": "0.0",
        "second_name": "Soares",
        "selected_by_percent": "0.2",
        "special": false,
        "squad_number": null,
        "status": "a",
        "team": 1,
        "team_code": 3,
        "total_points": 0,
        "transfers_in": 4481,
        "transfers_in_event": 2401,
        "transfers_out": 8944,
        "transfers_out_event": 2848,
        "value_form": "0.0",
        "value_season": "0.0",
        "web_name": "Cédric",
        "minutes": 180,
        "goals_scored": 0,
        "assists": 0,
        "clean_sheets": 0,
        "goals_conceded": 7,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 1,
        "red_cards": 0,
        "saves": 0,
        "bonus": 0,
        "bps": 16,
        "influence": "21.4",
        "creativity": "21.8",
        "threat": "0.0",
        "ict_index": "4.3",
        "influence_rank": 202,
        "influence_rank_type": 84,
        "creativity_rank": 143,
        "creativity_rank_type": 35,
        "threat_rank": 323,
        "threat_rank_type": 121,
        "ict_index_rank": 227,
        "ict_index_rank_type": 80,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": 5,
        "direct_freekicks_text": "",
        "penalties_order": null,
        "penalties_text": ""
    },
    {
        "chance_of_playing_next_round": 100,
        "chance_of_playing_this_round": 100,
        "code": 59966,
        "cost_change_event": 0,
        "cost_change_event_fall": 0,
        "cost_change_start": -1,
        "cost_change_start_fall": 1,
        "dreamteam_count": 0,
        "element_type": 4,
        "ep_next": "1.3",
        "ep_this": "-0.2",
        "event_points": 1,
        "first_name": "Alexandre",
        "form": "0.3",
        "id": 6,
        "in_dreamteam": false,
        "news": "",
        "news_added": "2021-08-13T14:30:14.582063Z",
        "now_cost": 84,
        "photo": "59966.jpg",
        "points_per_game": "1.0",
        "second_name": "Lacazette",
        "selected_by_percent": "1.2",
        "special": false,
        "squad_number": null,
        "status": "a",
        "team": 1,
        "team_code": 3,
        "total_points": 1,
        "transfers_in": 5880,
        "transfers_in_event": 3965,
        "transfers_out": 112759,
        "transfers_out_event": 7466,
        "value_form": "0.0",
        "value_season": "0.1",
        "web_name": "Lacazette",
        "minutes": 31,
        "goals_scored": 0,
        "assists": 0,
        "clean_sheets": 0,
        "goals_conceded": 1,
        "own_goals": 0,
        "penalties_saved": 0,
        "penalties_missed": 0,
        "yellow_cards": 0,
        "red_cards": 0,
        "saves": 0,
        "bonus": 0,
        "bps": -1,
        "influence": "1.0",
        "creativity": "0.3",
        "threat": "0.0",
        "ict_index": "0.1",
        "influence_rank": 327,
        "influence_rank_type": 42,
        "creativity_rank": 312,
        "creativity_rank_type": 46,
        "threat_rank": 590,
        "threat_rank_type": 81,
        "ict_index_rank": 345,
        "ict_index_rank_type": 47,
        "corners_and_indirect_freekicks_order": null,
        "corners_and_indirect_freekicks_text": "",
        "direct_freekicks_order": 3,
        "direct_freekicks_text": "",
        "penalties_order": 2,
        "penalties_text": ""
    }]

    let initHomepage = async () => {
        try{
            const players = await getAllPlayers();
            let sorted = players.sort((a,b) => (b.form) - (a.form)).slice(0, 6);
            let count = 1;
            // on fire players
            sorted.forEach( async (player) => {
                    let playerEvents = await getPlayerEventsById(player.id);
                    let prevVal = playerEvents.history[playerEvents.history.length-1].value/10;
                    
                    let playerCard = `<div class="card-heading" data-pos="${count++}">
                                            <p class="caption">${evaluateTeam(player.team)}</p>
                                            <div class="card-stat1"> 
                                                <p class="mini-txt accent-font">${evaluatePosition(player.element_type)}</p>
                                            </div>
                                            <p class="mini-heading ">${player.web_name}</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-body-top">
                                                <div class="card-stat2"> 
                                                    <p class="mini-heading">
                                                        ${player.now_cost/10}
                                                        <span class="mini-txt">m</span></p>
                                                    </p>
                                                    <div class="price-indicator ${evalutePriceChange(prevVal, (player.now_cost/10))}"></div>
                                                </div>
                                            </div>
                                            <div class="card-body-bottom">
                                                <div class="card-stat stat1">
                                                    <p class="">${player.total_points}<p class="mini-txt">Pts</p></p>
                                                </div>
                                                <div class="card-stat stat2">
                                                    <p class="mini-txt">Form</p>
                                                    <p class="caption">${player.form}</p>
                                                </div>
                                                <div class="card-stat stat3">
                                                    <p class="mini-txt">Ict</p>
                                                    <p class="caption">${player.ict_index}</p>
                                                </div>
                                                <div class="card-stat stat4">
                                                    <p class="mini-txt">Sb</p>
                                                    <p class="caption">${player.selected_by_percent}%</p>
                                                </div>
                                                
                                            </div>
                                        </div> `;

                    let card = document.createElement('div');
                    card.innerHTML = playerCard;
                    card.classList.add('card');
                    cards.appendChild(card);
            });

            // captains table
            let captains = players.sort((a,b) => b.now_cost - a.now_cost).slice(0, 10);
            
            let computedCaptains = captains.map(async (captain) => {
                try {
                    let captainEvents = await getPlayerEventsById(captain.id);
                    captain.fdr = captainEvents.fixtures[0].difficulty;
                    captain.captaincy = (parseInt(captain.form) + parseInt(captain.points_per_game) + parseInt(captain.threat) + parseInt(captain.creativity))/4 + (5 - parseInt(captain.fdr));
                    console.log(captain.web_name, captain.captaincy)
                } catch (err) {
                    console.log(err)
                }
            })
            
            captains.forEach(async captain => {
                let rowfields = `
                    <td>${captain.web_name}</td>
                    <td>${captain.threat}</td>
                    <td>${captain.creativity}</td>
                    <td>${captain.points_per_game}</td>
                    <td>${captain.fdr}</td>
                    <td>${captain.captaincy}</td>
                `
                let row = document.createElement('tr');
                row.innerHTML = rowfields;
                document.querySelector('table').appendChild(row);
            })

        }catch(err){
            console.error(err);
        }
    }
    
    initHomepage();
    </script>
</html>



<!--
// let tabulate = (data, columns) => {
//     const table = d3.select('.table-holder').append('table')
//     const thead = table.append('thead')
//     const	tbody = table.append('tbody');

//     // append the header row
//     thead.append('tr')
//         .selectAll('th')
//         .data(columns).enter()
//         .append('th')
//         .text(column => column );

//     // create a row for each object in the data
//     var rows = tbody.selectAll('tr')
//         .data(data)
//         .enter()
//         .append('tr');

//     // create a cell in each row for each column
//     var cells = rows.selectAll('td')
//         .data(row => {
//             return columns.map( column => { return {column: column, value: row[column]}; });
//         })
//         .enter()
//         .append('td')
//         .text( d => d.value );

//     return table;
// }
-->