<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>
    <header class="minor">
        <div class="grid">
            <%- include('../partials/nav')%>
        </div>
        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading dark-light-font">Plan your trasfers like a pro</h1>
                </div>
            </div>
        </div>
    </header>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="market">market trends</h1>

            <p class="para">Keep posted on the most transfered assets of the gameweek. The bar chart shows the top twenty players with the highest volume of transfers. The dark regions show the number of transfers in while the red-ish regions show the number of transfers out</p>
            <div class="bar-chart"></div>
        </div>
        </div>
    </section>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="transfers">sensible transfers</h1>

            <div class="section-body">
                <p class="">
                    The following tables represent some of the best performing assets in their respective price ranges who also happen to have the best round of fixtures in the coming 6 gameweeks. 
                </p>
                <div class="section-block">
                    <h2 class="section-block-heading">premium assets</h2>
                    <div class="table-container">
                        <table class="premium-table"></table>
                    </div>
                </div>

                <div class="section-block">
                    <h2 class="section-block-heading">mid-range assets</h2>
                    <div class="table-container">
                        <table class="mid-range-table"></table>
                    </div>
                </div>

                <div class="section-block">
                    <h2 class="section-block-heading">budget assets</h2>
                    <div class="table-container">
                        <table class="budget-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<script src="https://d3js.org/d3.v4.js"></script>
<%- include('../partials/commonScripts')%>
<script src="../../public/js/transfers.js"></script>
</html>