<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
    <title>transfers | fplFriend</title>
    <meta name="description" content="Make better transfers decisions with our sensible transfers picks">
    <meta name="keywords" content="fpl sensible transfers premium assets budget mid-range github bar-chart tables">
</head>
<body>
    <header class="minor">
        <%- include('../partials/nav')%>
        
        <div class="landing grid">
            <div class="container">
                <div class="landing-text">
                    <h1 class="sub-heading dark-font">Plan your transfers like a pro</h1>
                </div>
            </div>
        </div>
    </header>

    <section class="first grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="market">market trends</h1>
            <p class="para">Keep posted on the most transfered assets of the gameweek. The bar chart shows the top twenty players with the highest volume of transfers. The green regions show the number of transfers in while the red-ish regions show the number of transfers out</p>
            <div class="bar-chart">
                <div class="asynchronous">
                    <div class="loading"></div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="transfers">sensible transfers</h1>

            <div class="section-body">
                <p class="para">
                    The following tables represent some of the best performing assets in their respective price ranges who also happen to have the best round of fixtures in the coming 6 gameweeks. 
                </p>
                <div class="section-block">
                    <h2 class="section-block-heading">premium assets</h2>
                    <div class="table-container">
                        <div class="asynchronous">
                            <div class="loading"></div>
                        </div>
                        <table class="premium-table"></table>
                    </div>
                </div>

                <div class="section-block">
                    <h2 class="section-block-heading">mid-range assets</h2>
                    <div class="table-container">
                        <div class="asynchronous">
                            <div class="loading"></div>
                        </div>
                        <table class="mid-range-table"></table>
                    </div>
                </div>

                <div class="section-block">
                    <h2 class="section-block-heading">budget assets</h2>
                    <div class="table-container">
                        <div class="asynchronous">
                            <div class="loading"></div>
                        </div>
                        <table class="budget-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.0.0/d3.min.js"></script>
<%- include('../partials/commonScripts')%>
<script src="../../dist/js/transfers.js"></script>
</html>