<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heading')%>
</head>
<body>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="market trends">market trends</h1>

            <div class="section-body row">
                <div class="section-block">
                    <h2 class="section-block-heading">top transfers in</h2>
                    <div class="bar-ins"></div>
                </div>
                <div class="section-block">
                    <h2 class="section-block-heading">top transfers out</h2>
                    <div class="bar-outs"></div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="grid">
        <div class="container">
            <h1 class="section-heading" data-attribute="sensible transfers">sensible transfers</h1>

            <div class="section-body">
                <div class="section-block">
                    <h2 class="section-block-heading">premium assets</h2>
                    <table class="premium-table"></table>
                </div>

                <div class="section-block">
                    <h2 class="section-block-heading">mid-range assets</h2>
                    <table class="mid-range-table"></table>
                </div>

                <div class="section-block">
                    <h2 class="section-block-heading">budget assets</h2>
                    <table class="budget-table"></table>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer')%>
</body>
<%- include('../partials/scripts')%>
<script src="../../public/js/transfers.js"></script>
</html>